@model AdminDashboard.BLL.Models.DepartmentsVM

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Department</h2>

<br />
<center>
    <h3 class="text-danger">Are you sure to delete this department !</h3>
</center>
<br />
<form  asp-action="Delete" asp-controller="Department" method="post">

    <input type="hidden" asp-for="Id" />
    <label for="DepartmentName">Department Name</label>
    <input type="text" class="form-control" id="DepartmentName" name="Name" value="@Model.Name" disabled />
    <br />
    <label for="DepartmentCode">Department Code</label>
    <input type="text" class="form-control" id="DepartmentCode" name="Code" value="@Model.Code" disabled/>
    <br />
    <center>

        <input type="submit" class="btn btn-danger" value="Delete" />
    </center>

</form>